<div data-toggle="collapse" data-target="#body@(this.ViewData["collapseId"])">
    @foreach (var property in this.ViewData.ModelMetadata.Properties.OrderBy(m => m.Order))
    {
        @Html.Display(property.PropertyName)
    }
</div>